{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <h1 class ="post-title">Profile Info</h1>
      {{- if ne .Type "page" }}
      <div class="post-meta">
        {{- with .Params.tags }}
        <p class="aoe"></p>
        <p class="k"></p>
        <p class="date"></p>
        <h3 >Github Details:</h3>
        <p class="git"></p>
        {{- end }}
      </div>
      {{- end }}
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
    <div class="post-footer">
      {{ template "_internal/disqus.html" . }}
    </div>
    <script>
        var queryString =  window.location.search.slice(1,-1);
        $.getJSON('https://api.atfg.gtechindia.org/profile/'+queryString, function(data,status) {
          if (data.message) {
            console.log(data.message)
          }
          else{


            date = data.joinedDate
          const unixTimestamp = date

          const milliseconds = date * 1000 

          const dateObject = new Date(milliseconds)

          const humanDateFormat = dateObject.toLocaleString()

          var text =``
          text = text + `<table style="width:200%"><tr><td>Area of Interest</td><td>:  ${data.areaOfInterests}</td></tr><tr><td>Karma</td><td>:  ${data.karma}</td></tr><tr><td>Joined Date</td><td>:  ${humanDateFormat}</td></tr><table>`
          $(".aoe").html(text);
          // $(".aoe").html(`Area of Interests :   ${data.areaOfInterests}`);
          // $(".k").html(`Karma :   ${data.karma}`);
          // $(".date").html(`Joined Date :   ${humanDateFormat}`);
          dic = data.gitData
          // console.log(Object.keys(dic).length)
          text = ``
          if (Object.keys(dic).length >0){
            // text = text + `User ID :  ${dic['git_id']}<br>Repositories :  ${dic['repos']}<br>Commits :  ${dic['commits']}<br>Forks :  ${dic['forks']}`
            text = text + `<table style="width:200%"><tr><td>User ID</td><td>:  ${dic['git_id']}</td></tr><tr><td>Repositories</td><td>:  ${dic['repos']}</td></tr><tr><td>Commits</td><td>:  ${dic['commits']}</td></tr><tr><td>Forks</td><td>:  ${dic['forks']}</td></tr><table>`
            $(".github").html('Github Details:');
            $(".git").html(text);
          }else{
              console.log("No Github Profile Found")
            }
        }
        });
          
        </script>
  </article>
{{ end }}
